@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import './const.css';




a {
  color: #fff4f4;
  text-decoration: none;
}



.header {
  background-image: url("./assets/img/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  width: 100%;
  padding: 0 40px;
  margin-bottom: 50px;
}



.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  max-width: 83px;
}

.nav {
  max-width: 579px;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
}

.nav-item {
  list-style: none;
  transition: margin 0.3s ease;
  position: relative;
}

.nav-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #fff4f4;
  transition: width 0.3s ease;
}

.nav-item:hover:after {
  width: 100%;
}

.nav-item:hover {
  margin-top: -7px;
}

.promo {
  display: flex;
  justify-content: center;
}

.promo-container {
  margin-top: 262px;
  max-width: 597px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.promo-text {
  text-align: center;
}

.promo-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 54px;
  background-color: #9d0404;
  border-radius: 30px;
}

.promo-button:hover {
  background-color: #b11818;
}

.promos-cards {
  display: flex;
  justify-content: space-between;
}

.promos-card {
  display: flex;
  flex-direction: column;
}

.promos-card__img-container {
  margin-bottom: 10px;
}

.services-cards {
  display: flex;
  justify-content: space-between;
}

.services-card {
  max-width: 495px;
}

.styles-card__title {
  width: 210px;
}

.styles-greed {
  display: flex;
  justify-content: space-between;
}

.styles-card__title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

/* Второй вид блока styles */

.styless-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.styless-card__title-container {
  position: absolute;
  z-index: 3;
  top: 5px;
  left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.layout {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.styless-card__img {
  transition: transform 0.5s ease;
}

.styless-card:hover .styless-card__img {
  transform: scale(1.1);
}

.about-text__container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.about-text {
  max-width: 800px;
  text-align: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.about-content__text {
  max-width: 495px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.second-row {
  flex-direction: row-reverse;
}

.masters {
  background-color: #fff4f4;
  color: #030000;
}

.masters-title {
  color: #030000;
}

.masters-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.maseters-card {
    display: flex;
    gap: 20px;
}

.masters-card__img-container {
    max-width: 400px;
}

.masters-card__img {
    width: 100%;
}

.masters-card__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.masters-card__link {
  color: #030000;
}

.masters-card__link-container {
  display: flex;
  align-items: center;
}

.care-content {
    display: flex;
    justify-content: space-between;
}

.care-content__column {
    max-width: 495px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.care-content__column p{
    text-align: justify;
}

.care-content__title {
    font-size: 28px;
    font-weight: 400;
}

.works-slider {
    display: flex;
    justify-content: space-between;
}

.slides-container {
    width: 590px;
    height: 590px;
    overflow: hidden;
    position: relative;
    display: flex;
}

.slide {
    position: absolute;
    transition: left .5s ease;
    width: 590px;
    height: 590px;
}

.slide img{
  width: 100%;
}

.works-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 30px;
}

.pagination-item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.pagination-item.active {
  background-color: #4F4F4F;
}

.faq {
  background-color: #FFF4F4;
}

.faq-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dropdown {
  position: relative;
  padding: 40px;
  background-color: #9D0404;
  border-radius: 60px;
  transition: height 0.5s ease;
}

.dropdown-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dropdown-title__title {
  font-size: 30px;
}

.dropdown-content {
  margin-top: 20px;
  display: none;
}

.dropdown.active {
  height: 100%;
}

.dropdown-arrow {
  transition: transform 0.5s ease;
}

.dropdown.active .dropdown-arrow{
  transform: rotate(90deg);
}

.dropdown.active .dropdown-content {
  display: block;
}

.contact {
  padding-top: 50px;
  margin-bottom: 100px;
}

.contact-content {
  display: flex;
  justify-content: space-between;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 495px;
  width: 100%;
  align-items: center;
}

.contact-form__inputs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.form-input {
  height: 66px;
  border-radius: 30px;
  padding: 22px 20px;
  outline: none;
  border: none;
}

.contact-button {
  width: 100%;
  border: none;
  font-size: 18px;
  color: #FFF4F4;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__first-block {
  display: flex;
  flex-direction: column;
}